
<!-- 1.- Creamos un boton para ocultar o mostrar el listado de cursos.
    2.- Para ocultarlo tenemos que invocar una accion -> (click)=""
      (click)="habilitar=(habilitar ==true)? false:true;
  Nota: Podemos meterlo dentro del html o crearlo en el components y llamar a la función
  tal y como lo tenemos aquí. Pero podías sustituir la funcion por el método de más arriba.
    3.- Para ver en el boton "Mostar/Ocultar" usaremos las {{}}
         {{ habilitar == true? 'Ocultar': 'Mostrar'}}-->
<button type="button" (click)="setHabilitar()"
name="button" class="btn btn-primary my-3">{{ habilitar == true? 'Ocultar': 'Mostrar'}}</button>


<div class="card">
  <div class="card-header">
    Listado de Cursos
  </div>

  <!-- 3.- Vamos a preguntar para ocultar o mostrar el listado. Usamos el ngIf -->
  <ul class="list-group" *ngIf="habilitar == true ">
  <!-- 1.- Vamos a tener nuestro ngFor.
       2.- Usamos boostrap para nuestros estilos.
       3.- Vamos a usar la directiva ngFor -> *ngFor="let curso of listaCurso"
         Otra forma que provee el Plugin para trabajar con Angular -> *ng2-ngFo
       4.- Para imprimir por pantalla llamamos a la variable creado con el let -> {{curso}}
      5.- Para ejecutar nos vamos a la consola -> ng serve cuando es la primera vez
       ng serve -o -> Cuando ya hemos iniciado el servidor. -->

    <li class="list-group-item" *ngFor="let curso of listaCurso">{{ curso }}</li>
  </ul>
</div>
